build/bin
node_modules
frontend/dist
frontend/src/lib/ZIPS/
macos-copy
macos-copy/
app_darwin_old.go

# Wails Binaries
build/bin/
frontend/dist/
frontend/node_modules/

# Go Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# IDEs
.vscode/
.idea/
.DS_Store

# Swift build artifacts
macos/*.o
macos/*.a
macos/*-Swift.h

frontend/src/lib/live2d
frontend/src/lib/Live2DController.ts
